name: CI/CD Deploy to Minikube

on:
  push:
    branches:
      - main

jobs:
  build-deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'

      - name: Build Spring Boot JAR
        run: ./mvnw clean package -DskipTests

      - name: Set Docker environment to Minikube
        run: |
          eval $(minikube -p minikube docker-env)

      - name: Build Docker Image
        run: docker build -t my-springboot-app:latest .

      - name: Deploy to Minikube
        run: kubectl apply -f k8s/deployment.yaml

      - name: Check Pods
        run: kubectl get pods
